{% extends 'base.html' %}
{% block content %}
    <div class="col">
        <form action="{{ url_for('main.process_upload')}}" method="POST" enctype=multipart/form-data>
            {{ form.hidden_tag() }}
            <div class="form-group">
                <p></p>
                {{ form.file() }}
            </div>
                {{ form.submit }}
        </form>
    </div>
    <div>
        <p></p>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-warning" role="alert">
                {% for message in messages %}
                    {{ message }}<br>
                {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}